node_modules/
.env
.DS_Store
build/
dist/
*.log
Git-Installer.exe
*.zip
*.exe
.env.local
.env.development
.env.production
.env.*
.vscode/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
.editorconfig
.git/
.gitconfig
